# Основные библиотеки
aiogram==3.19.0
python-dotenv==1.0.0
pydantic==2.5.2
pydantic-settings==2.1.0

# Работа с файлами и данными
aiofiles==23.2.1
ujson==5.8.0

# Логирование
loguru==0.7.2

# Асинхронные HTTP-запросы
aiohttp==3.9.0

# Локализация
babel==2.13.1

# Хранение данных
tinydb==4.8.0

# Работа с изображениями
Pillow==10.1.0

# Вспомогательные
pytz==2023.3
APScheduler==3.10.4